name: Deploy to GCP VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Deploy to VM
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.VM_USER }}@${{ secrets.VM_HOST }} << 'EOF'
        cd self-heal-app
        git pull origin main
        docker build -t heal-app .
        touch /tmp/deploying.lock
        docker stop heal-container || true
        docker rm heal-container || true
        docker run -d -p 80:5000 --name heal-container heal-app
        rm -f /tmp/deploying.lock
        EOF
    
